body{
  margin-top: 60px;
}
.smc-hidden {
  display:none !important;
}

.smw-container {
  width:90%;
  min-width:320px;
  margin-left:auto;
  margin-right:auto;


  .smw-row {
    display:flex;
    flex-wrap:wrap;

    .smw-col-md-6 {
      width:50%;
      @media screen and (max-width:720px){
        width:100%;
        padding-left:20px;
        padding-right:20px;
      }

    }

    .smw-xs-6 {
      width:50%;
    }

    .input-group {
      display:flex;
      justify-content:flex-start;

      button.btn {

      }

    }

    .form-group {
      padding-top:15px;
      padding-bottom:15px;
    }

  }

  .controls-row {

    width:100%;
    .smw-col-xs-6 {
      margin-left:20px;
      margin-right:20px;

      a {
        background-color:#c3c3c3;
        padding:10px 15px;
        border-radius:5px;
        text-decoration:none;
      }
    }
  }


}

.smc-active {
  box-shadow: inset 0px 0px 0px 2px rgba(55,55,55,0.8);

  &:hover {
    cursor: default;
  }
}

